/* ---- 💫 https://github.com/JaKooLit 💫 ---- */
/* Ja KooLit - Global rofi fonts */

/* This is where you can change fonts and sizes */


/*****-- Fonts Size and Font Size -----*****/
configuration {
  font: "JetBrainsMono Nerd Font SemiBold 15";
}


/*****-- Elements Font Size -----*****/
element-text {
  font: "JetBrainsMono Nerd Font SemiBold 13";
}