/* ---- 💫 https://github.com/JaKooLit 💫 ---- */
/* Main Config (compact) */

@import "~/.config/rofi/config.rasi" 

/* ---- Configuration ---- */ 
configuration {
  modi: "drun";
}

/* ---- Window ---- */
window {
  width: 500px;
  border-radius: 15px;
}

/* ---- Imagebox ---- */
imagebox {
  orientation: vertical;
  children:
    [ "entry", "listview"];
}

entry {
  placeholder: "  View / Edit Hyprland Configs";
}

/* ---- Listview ---- */
listview {
  columns: 1;
  lines: 10;
  spacing: 4px;
  scrollbar: false;
  border-radius: 10px;
}

/* ---- Element ---- */
element {
  border-radius: 10px;
}
