/* ---- 💫 https://github.com/JaKooLit 💫 ---- */
/* Main Config - For Keybinds generation */

@import "~/.config/rofi/config.rasi"  


/* ---- Mainbox ---- */
mainbox {
  children:
    [ "inputbar", "listview"];
}

/* ---- Entry ---- */
entry {
  expand: true;
  placeholder: " 🧮 Search Keybinds      ☣️ NOTE ☣️: Clicking with Mouse or Pressing ENTER will have NO function";
}

/* ---- Listview ---- */
listview {
  columns: 2;
  lines: 12;
  fixed-height: false;
}

window {
    width: 90%;
}

/* ---- Elements ---- */
element {
  orientation: horizontal;
}

element-icon {
  	size: 0%;
}

element-text {
    horizontal-align: 0.0;
    vertical-align: 0.5;
}