/* ---- 💫 https://github.com/JaKooLit 💫 ---- */
/* Layout Config (Waybar) */

@import "~/.config/rofi/config-waybar-style.rasi" 

/* ---- Entry ---- */ 
entry {
  placeholder: "Choose Waybar Layout";
}

