/* ---- 💫 https://github.com/JaKooLit 💫 ---- */
/* Clipboard Config (long) - Clipboard */

@import "~/.config/rofi/config-long.rasi" 

/* ---- Entry ---- */
entry {
  width: 45%;
  placeholder: "📋 Search Clipboard **note** 👀 CTRL Del - Cliphist del or Alt Del - cliphist wipe";
}
