/* ---- 💫 https://github.com/JaKooLit 💫 ---- */
/* Main Config (waybar style) */

@import "~/.config/rofi/config.rasi" 

/* ---- Mainbox ---- */
mainbox {
  children: [ "inputbar", "message", "listview"];
}

/* ---- Configuration ---- */
configuration {
  modi: "drun";
}

/* ---- Window ---- */
window {
  width: inherit;
  height: inherit;
}

/* ---- Entry ---- */ 
entry {
  expand: true;
  placeholder: " 🖼️  Search / Choose Waybar Style";
}

/* ---- Listview ---- */
listview {
  columns: 2;
  lines: 7;
  fixed-height: false;
  margin: 10px;
  scrollbar: true;
  spacing: 6px;
  cycle: true;
}

/* ---- Elements ---- */
element-icon {
  size: 0%;
}
element-text {
  horizontal-align: 0.0;
  margin: 0px;
  padding: 0px;
}
