/* ---- 💫 https://github.com/JaKooLit 💫 ---- */
/* Wallpaper Effects */

@import "~/.config/rofi/config.rasi" 


/* ---- Mainbox ---- */
mainbox {
  children:
    [ "inputbar", "listview"];
}

/* ---- Entry ---- */ 
entry {
  width: 32%;
  placeholder: " 🏙️ Search / Choose desired wallpaper effect";
}

/* ---- Window ---- */
window {
  width: inherit;
  height: inherit;
}

/* ---- Listview ---- */
listview {
  columns: 2;
  lines: 7;
  fixed-height: false;
  scrollbar: true;
  spacing: 6px;
  cycle: true;
}

/* ---- Inputbar ---- */
inputbar {
  background-image: url("~/.config/hypr/wallpaper_effects/.wallpaper_modified", width);
}

/* ---- Element ---- */
element-icon {
  size: 0%;
}

element-text {
  horizontal-align: 0.0;
  vertical-align: 0.0;
  margin: 0px;
  padding: 0px;
}