/* ---- 💫 https://github.com/JaKooLit 💫 ---- */
/* Rofi Beats Config (compact) */

@import "~/.config/rofi/config-compact.rasi" 

/* ---- Entry ---- */ 
entry {
  placeholder: "📻 Choose Your Music Play Station";
}

/* ---- Listview ---- */
listview {
  lines: 6;
}
