/* ---- 💫 https://github.com/JaKooLit 💫 ---- */
/* Clipboard Config (long) */

@import "~/.config/rofi/config-long.rasi" 

/* ---- Entry ---- */
entry {
  placeholder: "CTRL Del - Cliphist del || Alt Del - cliphist wipe";
}
