/* ---- 💫 https://github.com/JaKooLit 💫 ---- */
/* Main Config Calculator */
/* Submitted by: https://github.com/JosephArmas */

@import "~/.config/rofi/config.rasi" 

/* ---- Mainbox ---- */
mainbox {
  children: [ "entry", "message" ];
  height: inherit;
}


/* ---- Entry ---- */
entry {
  expand: true;
  placeholder: " 🧮 Calculate";
}

textbox {
    padding: 12px;
    border-radius: 10px;
}

listview {enable: false;}