/* ---- 💫 https://github.com/JaKooLit 💫 ---- */
/* Rofi Config for Google Search) */

@import "~/.config/rofi/config.rasi"  

/* ---- Window ---- */
window {
	width: 40%;
	height: inherit;
    y-offset: 10px;
    location: north;
    children: [ "entry" ];
    border: 2px;
    border-color: white/25%;
}

/* ---- Entry ---- */ 
entry {
	placeholder: " 🔎 Google Search via web browser";
	padding: 15px;
	border: 0px;
	border-radius: 12px;
}
