/* ---- 💫 https://github.com/JaKooLit 💫 ---- */
/* Rofi Config for Google Search) */

@import "~/.config/rofi/config.rasi" 

/* ---- Window ---- */
window {
	width: 700px;
    location: north;
}

/* ---- Mainbox ---- */
mainbox {
	padding:					2px;
    children:                   [ "inputbar" ];
}

/* ---- Entry ---- */ 
entry {
	placeholder: "Google Search";
}

/* ---- Inputbar ---- */
textbox-prompt-colon {
	str: "🔎";
}
