/* ---- 💫 https://github.com/JaKooLit 💫 ---- */
/* Main Config Rofi Theme */

@import "~/.config/rofi/config.rasi"  

/* ---- Window ---- */
window {
  width: 45%;
}

/* ---- Mainbox ---- */
mainbox {
  children:
    [ "inputbar", "listview"];
}

/* ---- Listview ---- */
listview {
  columns: 2;
  lines: 8;
  fixed-height: false;
  scrollbar: true;
}

/* ---- Entry input ---- */
entry {
  expand: true;
  placeholder: " ⬇️  Select Which Rofi Theme wanted to apply";
}


/* ---- Elements ---- */
element {
  orientation: vertical;
}

element-icon {
  	size: 0%;
}
element-text {
  horizontal-align: 0.0;
  margin: 5px 30px 5px 30px;
}

