/* ---- 💫 https://github.com/JaKooLit 💫 ---- */
/* Main Config (compact) */

@import "~/.config/rofi/config.rasi" 

/* ---- Configuration ---- */ 
configuration {
  modi: "drun";
}

/* ---- Window ---- */
window {
  width: 500px;
  border-radius: 15px;
}

/* ---- Mainbox ---- */
mainbox {
  orientation: horizontal;
  children: [ "imagebox"];
}

/* ---- Imagebox ---- */
imagebox {
  orientation: vertical;
  children:
    [ "inputbar",
    "listbox"];
}

/* ---- Listbox ---- */
listbox {
  border-radius: 10px;
}

/* ---- Inputbar ---- */
inputbar {
  padding: 14px;
  border-radius: 10px;
}

textbox-prompt-colon {
  str: " ";
}

entry {
  placeholder: "View / Edit Hyprland Configs";
}

/* ---- Listview ---- */
listview {
  columns: 1;
  lines: 7;
  spacing: 4px;
  scrollbar: true;
  border-radius: 10px;
}

/* ---- Element ---- */
element {
  border-radius: 10px;
}

/*****----- Message -----*****/
message {
  border-radius: 10px;
}

textbox {
  padding: 15px;
}
