@import '../../.cache/wal/colors-waybar.css';

@define-color cc-bg rgba(26, 27, 38, 1);
@define-color noti-border-color @color2;
@define-color noti-bg @background;
@define-color noti-bg-darker rgb(43, 43, 57);
@define-color noti-bg-hover @color2;
@define-color noti-bg-focus rgba(27, 27, 27, 0.6);
@define-color noti-close-bg rgba(255, 255, 255, 0.1);
@define-color noti-close-bg-hover rgba(255, 255, 255, 0.15);
@define-color text-color @foreground;
@define-color text-color-disabled rgb(150, 150, 150);
@define-color bg-selected rgb(0, 128, 255);

* {
    font-family: JetBrainsMono NFP;
    font-weight: bold;
}

.control-center .notification-row:focus,
.control-center .notification-row:hover {
    opacity: 1;
    background: @noti-bg
}

.notification-row {
    outline: none;
    margin: 10px;
    padding: 0;
}

.notification {
    background: transparent;
    padding: 0px;
    margin: 0px;
}

.notification-content {
    background: @cc-bg;
    padding: 2px;
    border-radius: 5px;
    border: 2px solid @noti-border-color;
    margin: 0;
}

.notification-default-action {
    margin: 0;
    padding: 0;
    border-radius: 5px;
}

.close-button {
    background: #f7768e;
    color: @cc-bg;
    text-shadow: none;
    padding: 0;
    border-radius: 5px;
    margin-top: 5px;
    margin-right: 5px;
}

.close-button:hover {
    box-shadow: none;
    background: #f7768e;
    transition: all .15s ease-in-out;
    border: none
}


.notification-action {
    border: 2px solid @noti-border-color;
    border-top: none;
    border-radius: 8px;
}


.notification-default-action:hover,
.notification-action:hover {
    color: @foreground;
    background: #7aa2f7
}

.notification-default-action {
    border-radius: 5px;
    margin: 0px;
}

.notification-default-action:not(:only-child) {
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px
}

.notification-action:first-child {
    border-bottom-left-radius: 10px;
    background: #1b1b2b
}

.notification-action:last-child {
    border-bottom-right-radius: 10px;
    background: #1b1b2b
}

.inline-reply {
    margin-top: 8px
}

.inline-reply-entry {
    background: @noti-bg;
    color: @text-color;
    caret-color: @text-color;
    border: 1px solid @noti-border-color;
    border-radius: 8px
}

.inline-reply-button {
		font-size: 0.5rem;
    margin-left: 4px;
    background: @noti-bg;
    border: 1px solid @noti-border-color;
    border-radius: 5px;
    color: @text-color
}

.inline-reply-button:disabled {
    background: initial;
    color: @text-color-disabled;
    border: 1px solid transparent
}

.inline-reply-button:hover {
    background: @noti-bg-hover
}

.body-image {
    margin-top: 6px;
    background-color: #fff;
    border-radius: 5px
}

.summary {
    font-size: 1rem;
    font-weight: 700;
    background: transparent;
    color: rgba(158, 206, 106, 1);
    text-shadow: none
}

.time {
    font-size: 1rem;
    font-weight: 700;
    background: transparent;
    color: @text-color;
    text-shadow: none;
    margin-right: 18px
}

.body {
    font-size: 1rem;
    font-weight: 400;
    background: transparent;
    color: @text-color;
    text-shadow: none
}

.control-center {
    background: @cc-bg;
    border: 2px solid @noti-border-color;
    border-radius: 10px;
}

.control-center-list {
    background: transparent
}

.control-center-list-placeholder {
    opacity: .5
}

.floating-notifications {
    background: transparent;
}

.blank-window {
    background: alpha(black, 0.1)
}

.widget-title {
    color: #7aa2f7;
    background: @noti-bg-darker;
    padding: 0px 5px 0px 10px;
    margin: 10px 10px 5px 10px;
    font-size: 1rem;
    border-radius: 5px;
}

.widget-title>button {
    font-size: 0.75rem;
    color: @text-color;
    border-radius: 10px;
		background: transparent;
		border: 0.5px solid @noti-border-color;
}

.widget-title>button:hover {
    background: #f7768e;
    color: @noti-border-color;
}

.widget-dnd {
    background: @noti-bg-darker;
    padding: 3px 6px;
    margin: 5px 10px 10px 10px;
    border-radius: 5px;
    font-size: 1rem;
    color: #7aa2f7;
}

.widget-dnd>switch {
    border-radius: 5px;
    /* border: 1px solid #7aa2f7; */
    background: #7aa2f7;
}

.widget-dnd>switch:checked {
    background: #f7768e;
    border: 1px solid #f7768e;
}

.widget-dnd>switch slider {
    background: @cc-bg;
    border-radius: 5px
}

.widget-dnd>switch:checked slider {
    background: @cc-bg;
    border-radius: 5px
}

.widget-label {
    margin: 10px 10px 5px 10px;
}

.widget-label>label {
    font-size: 1rem;
    color: @text-color;
}

.widget-mpris {
    color: @text-color;
    background: @noti-bg-darker;
    padding: 5px 10px;
    margin: 5px 10px 5px 10px;
    border-radius: 5px;
}

.widget-mpris > box > button {
    border-radius: 5px;
}

.widget-mpris-player {
    padding: 5px 10px;
    margin: 10px
}

.widget-mpris-title {
    font-weight: 700;
    font-size: 1.25rem
}

.widget-mpris-subtitle {
    font-size: 1.1rem
}

.widget-buttons-grid {
    font-size: x-large;
    padding: 4px;
    margin: 5px 10px 10px 10px;
    border-radius: 5px;
    background: @noti-bg-darker;
}

.widget-buttons-grid>flowbox>flowboxchild>button {
    margin: 3px;
    background: @cc-bg;
    border-radius: 5px;
    color: @text-color
}

.widget-buttons-grid>flowbox>flowboxchild>button:hover {
    background: rgba(122, 162, 247, 0.1);
    color: @noti-border-color;
}

.widget-menubar>box>.menu-button-bar>button {
    border: none;
    background: transparent
}

.topbar-buttons>button {
    border: none;
    background: transparent
}

.widget-volume {
    background: @noti-bg-darker;
    padding: 5px;
    margin: 10px 10px 5px 10px;
    border-radius: 5px;
    font-size: x-large;
    color: @text-color;
}

.widget-volume>box>button {
    background: #7aa2f7;
    border: none
}

.per-app-volume {
    background-color: @noti-bg;
    padding: 4px 8px 8px;
    margin: 0 8px 8px;
    border-radius: 5px;
}

.widget-backlight {
    background: @noti-bg-darker;
    padding: 5px;
    margin: 10px 10px 5px 10px;
    border-radius: 5px;
    font-size: x-large;
    color: @text-color
}
