adjust-cell-height = 10%
background-blur-radius = 60
background-opacity = 1.00
bold-is-bright = false
confirm-close-surface = false
cursor-style = bar
font-family = Maple Mono NF
font-size = 12
gtk-single-instance = true
keybind = clear
keybind = ctrl+shift+c=copy_to_clipboard
keybind = ctrl+shift+v=paste_from_clipboard
keybind = ctrl+shift+plus=increase_font_size:1
keybind = ctrl+shift+minus=decrease_font_size:1
keybind = ctrl+shift+zero=reset_font_size
keybind = alt+s>r=reload_config
keybind = alt+s>x=close_surface
keybind = alt+s>n=new_window
keybind = alt+s>c=new_tab
keybind = alt+s>shift+l=next_tab
keybind = alt+s>shift+h=previous_tab
keybind = alt+s>comma=move_tab:-1
keybind = alt+s>period=move_tab:1
keybind = alt+s>1=goto_tab:1
keybind = alt+s>2=goto_tab:2
keybind = alt+s>3=goto_tab:3
keybind = alt+s>4=goto_tab:4
keybind = alt+s>5=goto_tab:5
keybind = alt+s>6=goto_tab:6
keybind = alt+s>7=goto_tab:7
keybind = alt+s>8=goto_tab:8
keybind = alt+s>9=goto_tab:9
keybind = alt+s>\\=new_split:right
keybind = alt+s>-=new_split:down
keybind = alt+s>j=goto_split:bottom
keybind = alt+s>k=goto_split:top
keybind = alt+s>h=goto_split:left
keybind = alt+s>l=goto_split:right
keybind = alt+s>z=toggle_split_zoom
keybind = alt+s>e=equalize_splits
mouse-hide-while-typing = true
quick-terminal-position = center
selection-background = #2d3f76
selection-foreground = #c8d3f5
shell-integration = detect
shell-integration-features = cursor,sudo
term = xterm-256color
#theme = dark:catppuccin-mocha,light:catppuccin-mocha
title = ddubsOS-GhosTTY
unfocused-split-opacity = 0.5
wait-after-command = false
window-height = 32
window-save-state = always
window-theme = dark
window-width = 110
#config-file = ./config-dankcolors

# Theme switching (optional): managed by your theme changer (symlink or generated file).
config-file = ?~/.config/ghostty/theme.conf

# Wallust (optional): wallust template should write Ghostty colors here; it will override theme colors.
config-file = ?~/.config/ghostty/wallust.conf
