@define-color foreground #FBF1C7;
@define-color dim_foreground1 #504945;
@define-color dim_foreground2 #3C3836;
@define-color background #282828;
@define-color green #B8BB26;
@define-color red #eb6f92;
@define-color blue #31748f;

window#waybar {
  background: @background;
  border-radius: 15px 15px 15px 15px;
  border: 1px solid @foreground;
  color: @foreground;
  font-family: JetBrainsMono Nerd Font;
  font-weight: bold;
  font-size: 98%;
}

.modules-left {
  margin-left: 10px;
}

.modules-right {
  margin-right: 10px;
}

#workspaces button {
  color: @dim_foreground1;
  transition: color 0.3s ease-in;
  padding-left: 5px;
}

#workspaces button.active {
  color: @foreground;
}

#workspaces button.focused {
  color: @foreground;
}

#workspace button.urgent {
  color: @foreground;
}

button:hover {
  font-size: inherit;
  box-shadow: inherit;
  text-shadow: inherit;
  background: transparent;
  border-color: transparent;
}

#clock,
#battery,
#backlight,
#pulseaudio,
#tray,
#language,
#workspaces,
#network,
#bluetooth,
#custom-playerctl,
#custom-launcher,
#custom-weather,
#custom-hyprpicker,
#custom-power {
  margin: 12px 0px 12px 0px;
}


#clock,
#battery,
#backlight,
#pulseaudio,
#tray,
#language,
#workspaces,
#network,
#bluetooth,
#custom-playerctl {
  background: @dim_foreground1;
  color: @foreground;
  border-radius: 10px;
}

#tray,
#workspaces {
  background: @dim_foreground2;
}

#network,
#battery,
#language,
#backlight,
#pulseaudio,
#bluetooth {
  border-radius: 0px;
  padding: 0px 8px 0px 5px;
  font-size: 16px;
}

#network {
  border-radius: 10px 0px 0px 10px;
}

#battery {
  border-radius: 0px 10px 10px 0px;
}

#custom-menu,
#custom-launcher {
  margin-left: 12px;
  color: @green;
}

#custom-power {
  margin-right: 12px;
  color: @red;
}

#workspaces,
#custom-weather,
#clock {
  margin-left: 8px;
}

#clock {
  margin-left: 3px;
}

#custom-hyprpicker,
#tray,
#custom-launcher,
#battery {
  margin-right: 8px;
}

#battery {
  margin-right: 3px;
}

#network {
  padding-left: 12px;
}

#language {
  padding: 0px 2px 0px 2px;
}

#clock,
#tray,
#custom-playerctl {
  padding: 0px 8px 0px 8px;
}

#custom-power-menu,
#custom-hyprpicker,
#custom-launcher {
  font-size: 17px;
}

#custom-hyprpicker {
  margin-right: 12px;
  color: @blue;
  font-size: 20px;
}

tooltip {
  border-radius: 15px;
  border: 4px solid @dim_foreground1;
  padding: 15px;
  background-color: @background;
  color: @foreground;
}