/* ---- 💫 https://github.com/JaKooLit 💫 ---- */
/* Main Config (main) */

@import "~/.config/rofi/resolution/1080p/config.rasi"

/* ---- Configuration ---- */ 
configuration {
  font: "Fira Code SemiBold 14";
}

/* ---- Window ---- */
window {
  width: 650px;
  background-image: url("~/.config/rofi/.current_wallpaper", width);
}

/* ---- Listview ---- */
listview {
  spacing: 5px;
}
